[access "refs/heads/*"]
	create = group Sony Sumire Maintainers
	push = +force group Sony Sumire Maintainers
	label-Code-Review = -2..+2 group Sony Sumire Maintainers
	label-Verified = -1..+1 group Sony Sumire Maintainers
	submit = group Sony Sumire Maintainers
	pushMerge = group Sony Sumire Maintainers
